### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [116]:

import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
File_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(File_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [117]:
totalplayers= {'Total Players':[len(purchase_data['SN'].value_counts())]}
totalplayers = pd.DataFrame(totalplayers)
totalplayers
#total_players = purchase_data["SN"]
#total_players = total_players.count()
#total_players
#pd.DataFrame({'Total Players': [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [118]:
#Number of Unique Items
UniqueItems = len(purchase_data['Item Name'].value_counts())

#Average Purchase Price
AvPurchPrice = round(purchase_data['Price'].mean(),2)

#Total Purchase Value
TotalPurchases = round(purchase_data['Price'].sum(),2)

#Purchasing Analysis (Total Revenue)
Purchasing_Analysis= {'Unique Items':[UniqueItems], 'Average Price':[AvPurchPrice],'Number of Purchases': [len(purchase_data)],'Total Purchases':[TotalPurchases]}
Purchasing_Analysis= pd.DataFrame(PurchasingAnalysis)
Purchasing_Analysis= PurchasingAnalysis[['Unique Items','Average Price','Number of Purchases','Total Purchases']]
Purchasing_Analysis

   Unique Items  Average Price  Number of Purchases  Total Purchases
0           179           3.05                  780          2379.77

# Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [119]:
# Total Count
#total_count = len(purchase_data["SN"].unique())

#Percentage and Count of Male Players

#male =purchase_data.loc[purchase_data['Gender'] =='Male',:]
#Male1= purchase_data.groupby(['Gender']).get_group(('Male'))
#Male2= len(Male1['SN'].unique())
#MalePercent= round((Male2/total_count)*100,2)

#Percentage and Count of Female Players
#Female1= purchase_data.groupby(['Gender']).get_group(('Female'))
#Female2= len(Female1['SN'].unique())
#FemalePercent= round((Female2/total_count)*100,2)

#Percentage and Count of Other Players
#Other1= purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
#Other2= len(Other1['SN'].unique())
#OtherPercent= round((Other2/total_count)*100,2)


gender_groups = purchase_data.groupby(["Gender"])
percent_any_gender = round((gender_groups["SN"].count() / total_players) *100, 2)

gender_df = pd.DataFrame({"Player Count": gender_groups["SN"].count(), "Percent of Players": percent_any_gender})
gender_df

                       Player Count  Percent of Players
Gender
Female                          113               14.49
Male                            652               83.59
Other / Non-Disclosed            15                1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:

# Count the total purchases by gender 
#purchase_count = gender_stats("PurchaseID").count()

# Average purchase prices by gender
#avg_purchase_price = gender_stats("Price").mean()

# Average purchase total by gender 
#avg_purchase_total = gender_stats("Price").sum()

# Average purchase total by gender 
#Avg_purchase_per_person = avg_purchase_total/total_count_gender

# Create data frame with obtained values 
#gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                   # "Average Purchase Price": avg_purchase_price,
                                  #  "Average Purchase Value":avg_purchase_total,
                                  #  "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
#gender_demographics.index.name = "Gender"

# Format with currency style
#gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                 # "Average Purchase Price":"${:,.2f}",
                                  #"Avg Purchase Total per Person":"${:,.2f}"})
        
gender_groupby = purchase_data.groupby(["Gender"])
purchase_count_gender = gender_groupby['Price'].count()
average_price = round(gender_groupby["Price"].mean(), 2)
total_val = round(gender_groupby["Price"].sum() ,2)
per_person = total_val / gender_df["Player Count"]

purchasing_df = pd.DataFrame({"Purchase Count": purchase_count_gender, "Avg. Purchase Price": average_price, "Total Purchase Value": total_val, "Total Purchase per Person": per_person})
purchasing_df["Avg. Purchase Price"] = purchasing_df["Avg. Purchase Price"].map("${:.2f}".format)
purchasing_df["Total Purchase Value"] = purchasing_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_df["Total Purchase per Person"] = purchasing_df["Total Purchase per Person"].map("${:.2f}".format)
purchasing_df

,Purchase Count,Avg. Purchase Price,Total Purchase Value,Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [126]:
#Create bins and labels to hold demographic data
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_dem["Age Ranges"] = pd.cut(player_dem["Age"], bins, labels=labels)

#Create the summary data 
age_totals= player_dem["Age Ranges"].value_counts()
age_percentage = round((age_totals / total_players * 100), 2)

age_dem = pd.DataFrame({"Total Players": age_totals, "Percent of Players": age_percentage})
age_dem["Percent of Players"] = age_dem["Percent of Players"].map("{:.2f}%".format)
age_dem = age_dem.sort_index()
age_dem

NameError: name 'player_dem' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [127]:
#Create bins and labels to hold demographic data
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=labels)

purchase_data_groupby = purchase_data.groupby(by='Age Ranges')

#Create summary data
purchase_count = purchase_data_groupby["Price"].count()
avg_pur_price = round(purchase_data_groupby["Price"].mean(), 2)
total_pur = round(purchase_data_groupby["Price"].sum(), 2)
avg_pur_person = round(total_pur/purchase_count ,2)

pur_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_pur_price, "Total Purchase Price": total_pur, "Average Per Person": avg_pur_person})
pur_analysis["Average Purchase Price"] = pur_analysis["Average Purchase Price"].map("${:.2f}".format)
pur_analysis["Total Purchase Price"] = pur_analysis["Total Purchase Price"].map("${:.2f}".format)
pur_analysis["Average Per Person"] = pur_analysis["Average Per Person"].map("${:.2f}".format)
pur_analysis = pur_analysis.sort_index()
pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [128]:
#Group purchase data 
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame 
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort the total purchase value column in descending order
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()


formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [141]:
popular_formatted.sort_values("Purchase Value", ascending=False).head()
#most_popular_items.sort_values(" Purchase Value", ascending=False).head()
#popular_formatted.sort_values("Purchase Count", ascending=False).head()

NameError: name 'popular_formatted' is not defined